<div>
    <h1>¡Hola, estos son nuestros productos en tiempo real:!</h1>
</div>
<div id="productPost" name="productPost">
    <label for="">Ingrese un producto nuevo</label>
    <input type="text" id="productInputTitle" name="productInputTitle" placeholder="Titulo del Producto">
    <input type="number" name="productInputPrice" id="productInputPrice" placeholder="Precio del Producto">
    <button id="btnProduct">Enviar</button>
</div>
<div>
    <ul id="listProducts" name="listProducts">
    </ul>
</div>
<script src="socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>